* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}
.dashclass {
 margin: 0;
      /* height: 100vh; */
      background-color: #FFFDF5;
      background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
      background-size: 20px 20px; 
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
         padding: 15px 30px;
         margin-top: -40px;
    }

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

nav ul li a:hover {
  color: #555;
  border-bottom: 2px solid #555;
}
.logoss img {
    display: flex;
      width: 170px;
  height: 170px;
  margin-top: -40px;

}

.report-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(149, 182, 149); /* Light background for the report container */
  justify-content: center;
}
.summary-section {
display: flex;
 justify-content: space-between;
  margin-bottom: 20px;
}

.notes-title {
display: flex;
 justify-content: space-between;
  margin-bottom: 20px;
}

.notes-section {
display: flex;
  margin-bottom: 20px;
  gap: 50px;
}